<!DOCTYPE html> 
<html lang=en>
<head> 
	<meta charset=utf-8>
	<title> Mi primer sitio web </title>
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
</head>

<body>
	
	<header>
		<div>
			<img src="imagenes/patolucas.jpg" width="100" alt="">
		</div>

		<nav>
			<ul>
				<li><a href="<%= root_path %>">Inicio</a></li>  
				<li><a href="">Aplicaciones</a></li>
				<li><a href="">Trabajos</a></li>
				<li><a href="<%= about_path %>">Sobre nosotros</a></li>
			</ul>
		</nav>

	</header>

</body>
</html>