<div class="container">
    <footer class="footer">
        <small>
        Copyright &copy; <a href="www.google.com"> This is just an example of footer </a> 
        by <a href="www.udemy.com"> Vinicio Rodriguez </a> 
        </small>
        <nav>
            <ul>
                <li><%=link_to "About page", about_path%><li>
            </ul>
        </nav>
    </footer>
</div>